:root{
  --color-background: #ffffff;
  --color-background-alt: #f6f6f7;
  --color-text: #202223;
  --color-highligth: #308023;
  --color-highlight-list: #286d1d;
  --color-highlight-alt: #4090ff;
  --color-cards:#fafbfb;
  --borde-punteado: 1px dashed var(--color-highligth);
  --borde-punteado2: linear-gradient(to right, var(--color-highligth, var(--color-background)) 2px, rgba(255,255,255,0) 0%);
  --contenedor-chico: 150px;
  --margin-items: 2.5rem;
  --border-radius: 16px;
}

a{
  color: var(--color-text);
}

body{
  color:var(--color-text);
  background-color: var(--color-background);
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'San Francisco', 'Segoe UI', Roboto, 'Helvetica Neue', sans-serif;
  font-size: 18px;
}

p{
  line-height: 1.5rem;
  margin-bottom: 1rem;
}

img, div, section{
  image-rendering: pixelated;
}

.dos-columnas{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

h1, h2{
  font-size: 48px;
  font-weight: 800;
  line-height: 3.5rem;
}

h3, h4{
  font-weight: 500;
}

h1:after, h2:after{
  content: "";
  display: block;
  background-color: var(--color-highligth);
  height: 0.25rem;
  width: 296px;
  margin-top: 24px;
  margin-bottom: var(--margin-items);
}

section{
  margin-bottom: 72px;
}

.contenedor-chico{
  margin-left: var(--contenedor-chico);
  margin-right: var(--contenedor-chico);
}

.contenedor-grande{
  width: 100%;
}

/* Header */
header{
  height: 60px;
  line-height: 60px;
  font-size: 0.9rem;
}

.desplegable::after{
  margin-left: 5px;
  content: "▼";
  color: var(--color-text);
}

header nav .contenedor-chico{
  display: flex;
  align-items: center;
  gap: 20px;
}

#searchbar{
  margin-left: auto;
  border-radius: 8px;
  border: 1px solid var(--color-text);
  display: flex;
  align-items: center;
  padding: 4px;
  background-color: var(--color-cards);
  box-shadow: inset 0px 2px 0px rgba(0, 0, 0, 0.2);
}

#searchbar img{
  width: 20px;
}

#searchbar button{
  border-radius: 3px;
  border: 1px solid var(--color-text);
  background-color: transparent;
  color: var(--color-text);
}

#searchbar input{
  border: unset;
  background-color: transparent;
  width: 110px;
}

#logo{
  position: absolute;
  margin: 1rem;
}

nav a{
  text-decoration: none;
}

a:visited{
  color:unset;
}

#tema{
  background-color: unset;
  border: unset;
}

header nav a:last-of-type{
  color: var(--color-highligth);
  font-weight: 600;
}


/* Sección construir */
#construir{
  position: relative;
  background-color: var(--color-background-alt);
  min-height: 41.5rem;
  overflow-y: visible;
  display: flex;
}

#construir>div>div:first-child{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#construir a, #apis a{
  color: var(--color-highligth);
}
#construir a{
  height: 1rem;
  translate: 0;
  transition: 0.2s ease-in-out;
  text-decoration: none;
  font-weight: 600;
}
#construir a img{
  height: 1rem;
  translate: 0;
  transition: 0.2s ease-in-out;
}
#construir a:hover img{
  translate: 5px;
}
#construir>div>div:last-child{
  position: absolute;
  width: 100%;
  right: 0px;
  max-width: 37.5rem;
  max-height: 47rem;
}
#construir>div>div:last-child div{
  height: 100%;
  width: 100%;
  background-image: url(./img/edificios/edificios-1.png);
  background-size: contain;
  background-repeat: no-repeat;
  aspect-ratio: 600 / 752;
  background-position: center;
}

/* Sección marcas */
#marcas{
  display: flex;
  justify-content: space-between;
  border-top: var(--borde-punteado);
  border-bottom: var(--borde-punteado);
  padding: 40px 0;
}

/* Sección APIs */
#apis{
  background-image: url(./img/edificios/edificios-2.png);
  background-size:122rem auto;
  bottom:0;
  left: 0;
  background-repeat: no-repeat;
  background-position: bottom;
  padding-bottom: 200px;
}
#apis ul{
  color: var(--color-highlight-list);
}
#apis li{
  line-height: 1.5rem;
  margin-left: 2rem;
  font-size: 15px;
  margin-bottom: unset;
  padding: 20px 0;
  border-bottom: var(--borde-punteado);
  border-color: var(--color-borde-lista);
}
#apis li:before{
  content: "✓";
  display: inline-block;
  color: var(--color-highligth);
  background-image: url(./img/icons/checkbox.svg);
  height: 14px;
  width: 10px;
  margin-right: 20px;
}

/* Sección best in class */
#best-in-class{
  background-color: var(--color-background-alt);
  margin: 1rem;
  padding: 6rem;
  border-radius: var(--border-radius);
}

/* Sección flexibilidad */
.card{
  background-color: var(--color-cards);
  padding: 1.5rem;
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.card p{
  font-size: 14px;
}

/* Sección tarjetas */
.grid-cuatro{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
}

#tarjetas{
  margin-bottom: 6rem;
}

#tarjetas .card img{
  width: 64px;
}

/* Sección audiencia */

#audiencia{
  background-image: url(./img/edificios/edificios-3.png);
  background-size: 122rem auto;
  background-position: 75% bottom;
  padding-bottom: 12rem;
}

/* Sección tarjetas 2*/
#tarjetas-2{
  /* margin: 1rem ; */
}

#tarjetas-2 .card img{
  width: 48px;
}

#tarjetas-2 .card:first-of-type img{
  width: 116px;
}

#tarjetas-2 .card{
  translate:0 0;
  transition: 0.3ms;
  box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.25);
  transition: 0.2s;
}
#tarjetas-2 .card p{
  margin: 0;
}

#tarjetas-2 .card:hover{
  translate:0 -5px;
  box-shadow: 0px 10px 5px 0px rgba(0,5,0,0.25);
}

.highlighted-card{
  border: solid 2px var(--color-borde);
  margin:2px;
  font-size: 1.3rem;
  border-radius: var(--border-radius);
  padding:1.5rem;
} 

/* Footer */
footer{
  margin: 5px 1rem;
}
footer>div{
  padding: 2rem 0;
}

footer a{
  text-decoration: none;
}
#footer-top{
  background-color: var(--color-background-alt);
  border-radius: var(--border-radius) var(--border-radius) 0 0;
}
#footer-top>div{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
footer li{
  margin: 0.2rem 0;
}
footer h3{
  font-size: 15px;
  margin-bottom: 1rem;
}
#footer-top a{
  font-size: small;
  transition: 0.3s;
  filter: brightness(0.8);
}
#footer-top a:hover{
  color: var(--color-text);
  filter: brightness(1);
}

footer input[type="text"], footer button{
  background-color: transparent;
  border: 1px solid #f6f6f7;
  color: var(--color-text);
  padding: 5px 10px;
}

#footer-bottom{
  background-color: var(--color-background);
  border-radius: 0 0 var(--border-radius) var(--border-radius);
  background-color: #f6f6f7;
}
#footer-bottom nav{
  display: flex;
  gap: 1rem;
}

#footer-bottom a{
  color: #8a8f93;
  font-size: small;
  font-weight: 600;
}
#footer-bottom a:hover{
  color: var(--color-text);
}



@media (prefers-color-scheme: dark) {
  :root{
    --color-background: #0d1213;
    --color-background-alt: #151d1e;
    --color-text: #eef1f1;
    --color-highligth: #5ce546;
    --color-highlight-alt: #9db8f7;
    --color-highlight-list: #BFFBE9;
    --color-cards:#151d1e;
    --color-borde-lista: #2b3a2a;
  }
  #apis{
    background-image: url(./img/edificios/edificios-2-dark.webp);
  }
  #audiencia{
    background-image: url(./img/edificios/edificios-3-dark.png);
  }
  #footer-bottom{
    background-color: #20292b;
  }
}

@media (max-width < 960) {
  .dos-columnas{
    grid-template-columns: 1fr;
  }
  
}